<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lose Weight</title>
    <link rel="stylesheet" href="./lib/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./css/loseWeight.css">
    <link rel="stylesheet" href="css/loseWeight.less">
</head>
<body>
<div class="lose-header">
    <div class="header-box">
        <div class="lose-logo">
            <img src="./img/logo.png" alt="">
        </div>
        <div class="lose-nav">
            <a href="javascript:;">Ladyproblems</a>
            <a href="javascript:;">Weightloss</a>
            <a href="javascript:;">Health</a>
            <a href="javascript:;">Beauty</a>
        </div>
    </div>
</div>
<div class="lose-container">
    <div class="lose-main">
        <div class="lose-title">Miracle Weight Loss Supplement Gets One Of Largest Deals In Shark Tank History</div>
        <div class="lose-subtitle lose-subtitle-c">
            by Madison Moore <span style="color:#999999;"><span class="week"></span>, <span class="month"></span> <span
                class="day"></span>, <span class="year"></span></span>
        </div>
        <div class="lose-banner" style="">
            <img src="./img/shark-tank-miracle-diet-pill-1038x576.png" alt="">
        </div>
        <div class="lose-banner">
            <img src="./img/weight-loss-diet-pills-lose-weight-fast-1-month.png" alt="">
        </div>
        <div class="lose-text">
            Trevor Hiltbrand a Stanford University graduate, received one of the biggest
            deal in the history of the Tank as all 5 sharks went in on the deal to buy 25% of
            the company for a staggering $3.5 million dollars! Trevor took over the multi-
            billion dollar health industry in just a few months, and he is now ready to take
            over the world with the help of the sharks. After a complete re-brand and
            re-packaging, Trevor is now ready to launch the <span style="color:#4184cc;">SlimFit180</span> globally. See
            the
            amazing demonstration below that got the sharks in a feeding frenzy instantly!
        </div>
        <div class="lose-text">
            After the panel of investors heard the contestant's pitch, they were shocked at
            the huge demand for this weight loss pill and how the company has grown so
            quickly. Hiltbrand was offered an enormous deal from the sharks thanks to his
            extensive research on her Garcinia weight loss pill and the demand from
            consumers. This weight loss product was designed to work with the body to
            support and facilitate healthy weight loss and subsequently improve your health.
        </div>
        <div class="lose-subtitle">
            THE SHARKS WERE ALL FIGHTING OVER TREVOR HILTBRAND'S
            MIRACLE WEIGHT LOSS SUPPLEMENT AND IT'S EASY TO SEE WHY!
        </div>
        <div class="lose-banner">
            <img src="./img/miracle_weight_loss_supplement_tank.jpg" alt="">
        </div>
        <div class="lose-text" style="font-weight: 700;">
            It was clear that each of the sharks saw their own investment opportunity in
            this product and wanted in. This weight loss product was such a hit with the
            sharks, that they actually argued over the deal and Trevor ended up netting one
            of the biggest deals in the show's history.
        </div>
        <div class="lose-text">

            What impressed the investors so much was the research behind the Garcinia pill
            in order to validate it's safety and effectiveness. In fact, this "miracle diet pill" is
            actually two different products that when combined together, helps the
            consumer shed weight and lose actual fat, not just water weight. This high-dose
            Garcinia pill can help you make significant changes to your body when taken in
            combination with healthy eating and working out. It can also help prevent weight
            gain when taken regularly.
        </div>
        <div class="lose-subtitle">
            Does The Shark Tank Weight Loss Product Really Work?
        </div>
        <div class="lose-banner">
            <img src="./img/miracle-tank-weight-loss-pill.jpg" alt="">
        </div>
        <div class="lose-text">
            Luckily, the sharks can joke about how they argued over the deal because it's
            been a huge successful thus far. <span style="font-weight: 700;">"I cannot believe how widespread my diet
            product has become. The company was growing rapidly which is why I turned to
            the sharks for help, and I'm so lucky I got that chance. I worked to make sure
            this product was formulated so that it was safe for consumers and will hopefully
            appeal to those who live an all-natural lifestyle. We're very excited for people to
            try the product and I love hearing about that moment they see results from it."
            - Trevor Hiltbrand</span>
        </div>
        <div class="lose-text">
            After hearing such astonishing feedback regarding how effective this innovative
            new weight loss product was, we appointed our research department to conduct
            their own investigation into the Shark Tank weight loss pills.
        </div>
        <div class="lose-text">
            Within 24 hours we managed to find the only company that distributes this
            precise weight loss formula in the proper dosage, and a few hours later we
            discovered the actual product, as well as a representative at the company! But
            that isn't even the best news!
        </div>
        <div class="lose-text">
            Since the company is so new, they wanted to take advantage of their recent
            publicity wave and offer new users of the product a free trial offer specifically
            for 500 of our Diet Insider readers. Talk about making things happen for our
            loyal fans!
        </div>
        <div class="lose-text">
            So what is the name of this miraculous 'Skinny Pill'? <span style="color:#4184cc;">Green Garcinia Pro</span>
            were
            the exact products Shark Tank invested in. There was a ton of research already
            available on the weight loss supplements, but we are always very careful when it
            comes to false claims on the internet. We decided to do our own test here at
            Diet Insider and I volunteered to be the guinea pig. To be honest, I've put on a
            few pounds because I've been working a lot and haven't been able to make it to
            the gym. Combine that with the fact that it's almost impossible to eat healthy
            after a long day of work and my advanced aged - let's just say I was at least 30
            pounds over weight.
        </div>
        <div class="lose-subtitle">
            Khloe Kardashian admitted to using <span style="color:#4184cc;"> Green Garcinia Pro</span> to lose 30 pounds
            in 5 weeks.
        </div>
        <div class="lose-banner">
            <img src="./img/hollywood-weight-loss.png" alt="">
        </div>
        <div class="lose-text">
            I also felt extremely comfortable using <span style="color:#4184cc;">Green Garcinia Pro</span> because our
            research
            department learned the manufacturer of the product is well-known and only uses
            all-natural ingredients that contain the highest percentage of the proprietary
            Garcinia weight loss formula.
        </div>
        <div class="lose-text">
            To get the products for my personal use, I used the links you can find on this
            page for the Free Trials and was only charged a little less than $5 for shipping
            and handling.
        </div>
        <div class="lose-text">
            I quickly became the most popular topic of discussion in the office because
            everyone was eager to see the results from <span style="color:#4184cc;">Green Garcinia Pro.</span> We were
            also
            shocked to see the incredible support for Shark Tank's investment from
            celebrities like Miranda Lambert and Melissa McCarthy, both of whom admitted
            to using the 'skinny pill' too.
        </div>
        <div class="lose-text">
            Miranda Lambert revealed <span style="color:#4184cc;">Green Garcinia Pro</span> were the skinny pills she
            used to
            help her lose 40 pounds in just 1 month!
        </div>
        <div class="lose-banner">
            <img src="./img/militarywife.jpg" alt="">
        </div>
        <div class="lose-text">
            The free packages of <span style="color:#4184cc;">Green Garcinia Pro</span> were delivered within a few days
            and I
            was really excited to try this weight loss recipe. Green Naturals Garcinia has the
            ideal dosage of the purest forms of Green Garcinia Pro available to consumers.
            That's exactly why its users experience zero negative side effects. I put together
            this report that details my results:
        </div>
        <div class="lose-text">
            <p><span style="color:#4184cc;">Green Garcinia Pro</span> formula has been scientifically proven to:</p>
            <ul>
                <li>Burn Stored Fat as Energy</li>
                <li>Enhance Strength and Energy</li>
                <li>Increase Metabolism by 90%</li>
                <li>Deliver nutrients to the body at a faster rate, which helps stimulate weight loss</li>
                <li>Boost Adipocytes Productions of Leptins by 130% which decreases your appetite</li>
                <li>Eliminate Bad Toxins that increase as your age</li>
            </ul>
        </div>
        <div class="lose-result-title">
            THESE WERE MY RESULTS - 30 LBS OF STOMACH FAT LOST IN JUST 1 MONTH:
        </div>
        <div class="lose-result-box">
            <div style="font-weight: 700;">Week One:</div>
            <div class="lose-text">
                After 7 days on the Shark Tank Miracle Weight Loss Supplements, I was in
                awe by how quick and dramatic the effects were. My spirits were up and I
                wasn't as hungry as usual. The appetite suppression was a welcomed side
                effect of the <span style="color:#4184cc;">Green Garcinia Pro.</span> I felt phenomenal and best part of
                all was
                that I didn't change a single thing about my daily routine or diet. Still no gym
                for me!
            </div>
            <div class="lose-text">
                On Day 7, I stepped on the electronic scale and used a caliper to find out my
                body fat. I had to double check because I couldn't believe it - I had lost 5
                pounds of fat in my first week!
            </div>
            <div class="lose-text">
                But I was still very skeptical! Many people say they lose a lot of 'water weight'
                at the beginning of any cleanse or diet. I wanted to see what happened over
                the next few weeks before jumping to any conclusions.
            </div>
            <div style="font-weight: 700;" class="null">Week Two:</div>
            <div class="lose-text">
                After 14 days of using <span style="color:#4184cc;">Green Garcinia Pro</span> I clearly had more energy
                and
                focus than ever before. The detoxifying components helped me sleep the
                entire night, every night - I kid you not - I was even burning fat in my sleep. I
                lost 7 pounds of belly fat, and began to see my abs coming back, something
                my husband obviously loved. After just 14 days, I felt very confident that
                these two products were the real deal.
            </div>
            <div style="font-weight: 700;" class="null">Week Three:</div>
            <div class="lose-text">
                After 21 days, all my doubts were gone and I was officially a believer! I was
                down another 7 pounds. And I still have more bounce in my step. My
                apartment is immaculate from all the cleaning I've been doing. In the past,
                after a few weeks of other diet programs, I'd begin to run out of steam, but
                with <span style="color:#4184cc;">Green Garcinia Pro</span> my energy levels didn't dip and were
                consistent
                throughout the day.
            </div>
            <div style="font-weight: 700;" class="null">Week Four:</div>
            <div class="lose-text">
                After the fourth week, my final results were incredible. Look at the new me! I
                lost an unbelievable 31 pounds since starting I started using these Skinny
                Pills! Everyone at Diet Insider is kicking themselves for not having
                volunteered to be the guinea pig. Using the <span style="color:#4184cc;">Green Garcinia Pro</span> in
                week 4, I
                lost an additional 11 pounds. Green Garcinia Pro is the real deal!
            </div>
        </div>
        <div class="lose-subtitle">
            *EDITOR'S NOTE: (Please only sign up for one free sample per person. We have
            a limited number of free bottles.)
        </div>
        <div class="lose-promotion">
            **Update: <span style="color:#FFF10D;">LIMITED FREE SAMPLES AVAILABLE</span> - As of <span
                style="color:#BABABA;"> <span class="week"></span>, <span class="month"></span> <span
                class="day"></span>, <span class="year"></span></span> , There Still FREE Samples!
        </div>
        <div class="lose-promotion-box">
            <div class="promotion-photo">
                <img src="./img/838_preview.png" alt="">
            </div>
            <div class="promotion-content">
                <div class="promotion-title">FREE 30 DAY SUPPLY
                    OF Green Garcinia Pro
                </div>
                <div class="promotion-btn">
                    GET A FREE SAMPLE
                </div>
                <div class="promotion-time">
                    Free Sample Promotion Ends On <span style="font-weight: 700;color:#000;"> <span
                        class="week-count"></span>,
                    <span class="month-count"></span> <span class="day-count"></span>, <span class="year-count"></span></span>
                </div>
            </div>
        </div>
        <div class="comment-null"></div>
    </div>
    <div class="lose-comment">
        <div class="lose-comment-title">
            Recent Comments
        </div>
        <div class="lose-comment-box"></div>
    </div>
    <div class="lose-comment-phone swiper-container">
        <div class="lose-comment-box-phone swiper-wrapper"></div>
    </div>
    <div class="lose-floatBox">
        <div class="lose-floatBox-title">About SlimFit180</div>
        <div class="lose-text">
            Results Powered by 70% HCA
            from Green Garcinia Pro
        </div>
        <div class="lose-banner" style="padding-right: 30px;padding-left: 30px;">
            <img src="./img/ls.jpg" alt="">
        </div>
        <div class="lose-text">
            Slim Fit 180 is made using only
            ingredients from Garcinia
            Cambogia, the very popular fruit
            that is similar in shape to a
            pumpkin and is sweeping across
            the weight loss industry at the
            moment.
        </div>
        <div class="lose-banner">
            <img src="./img/ls2.jpg" alt="">
        </div>
        <div class="lose-text">
            It’s method of action of centered
            on its key ingredient HCA, which
            is extracted straight from its
            fruit rind.
        </div>
        <div class="lose-banner">
            <img src="./img/ls3.jpg" alt="">
        </div>
        <div class="lose-floatBox-title">FREE 30 DAY SUPPLY
            OF Green Garcinia Pro
        </div>
        <div class="lose-banner" style="padding-left: 20px;padding-right: 20px;">
            <img src="./img/838_preview.png" alt="">
        </div>
        <div class="lose-floatBox-btn">
            GET A FREE SAMPLE
        </div>
        <div class="lose-text" style="color:#999999;">
            Free Sample Promotion Ends On
            <span style="font-weight: 700;color:#000;"><span class="week-count"></span>, <span
                    class="month-count"></span> <span class="day-count"></span>, <span class="year-count"></span></span>
        </div>
    </div>
</div>
<div class="lose-foot">
    <div class="foot-nav">
        <a href="javascript:;">About Us</a>
        <a href="javascript:;">Contant Us</a>
        <a href="javascript:;">Terms&Conditions</a>
        <a href="javascript:;">Website Privacy Policy</a>
        <a href="javascript:;">Faq</a>
        <a href="javascript:;">
            <img src="./img/logo.png" alt="">
        </a>
    </div>
    <p>THIS IS AN ADVERTISEMENT AND NOT AN ACTUAL NEWS ARTICLE, BLOG, OR CONSUMER PROTECTION UPDATE</p>
</div>
<div class="lose-float-count">
    <div class="count-box">
        <div class="count">
            <div class="count-hour count-num">00</div>
            ：
            <div class="count-min count-num">00</div>
            ：
            <div class="count-second count-num">00</div>
        </div>
        <div class="count-banner">
            <div class="count-photo">
                <img src="./img/838_preview.png" alt="">
            </div>
            <div class="count-btn">GET A FREE SAMPLE</div>
        </div>
    </div>
</div>
<script src="./lib/jquery.min.js"></script>
<script src="./lib/flexible.js"></script>
<script src="./lib/flexible_css.js"></script>
<script src="./lib/swiper-3.4.2.min.js"></script>
<script>
    $(function () {
        $(document).ready(function () {
            var mySwiper;
            var commentList = {};
            commentList.content = [];
            commentList.photo = [];
            for (var j = 1; j < 11; j++) {
                commentList.photo.push("./img/cmnt-img" + j + ".jpg");
            }
            commentList.like = [33, 43, 44, 11, 32, 34, 67, 45, 56, 21];
            commentList.time = ['12 minutes ago', '20 minutes ago', '36 minutes ago', '53 minutes ago', 'about an hour ago', 'about an hour ago', '1 hour ago', '1 hour ago', '3 hour ago', '6 hour ago'];
            commentList.name = ['Emma Lewis', 'Alyssa Porquezr', 'Natalie Jackson Mercer', 'Lauren Barrott', 'Anna Gibson', 'Taylor Keyse', 'Kayla Williams', 'Savannah Bauman Riley', 'Katherine Kilgard', 'Alexandra \'martin\' Payne']
            if ($("body").width() < 800) {
                $(".lose-comment-phone").show()
                commentList.content = [
                    'I feel 5 years younger. It\'s wonderful!',
                    'I\'ve been using the product for about 6 wks',
                    'I can\'t wait to see what weeks 3 and 4 bring.',
                    'I am very much pleased after using this product.',
                    'Thank you for sharing this tip! I just ordered both products.',
                    'I\'m a bit older,but this combo worked for me too! LOL! ',
                    'My sister did this a few months ago.',
                    'I love the I\'m going to give these products a chance to work their magic on me.',
                    'worked for me! I worked just like I thought it would.',
                    'Thanks for the info, just started mine.'
                ]
            } else {
                $(".lose-comment-phone").hide()
                commentList.content = [
                    'I have been using this weight loss combo for 3 weeks now, and I seriously look 5 years younger! I will take it when it was less than 5 bucks for each! My tummy and arm fat is melting away more and more every day. Thank you so much for reporting on this!',
                    'I saw this combo on DI a while ago and still using the combo. I\'ve been using the product for about 6 wks . Honestly, this is unbelievable, all I have to say is WOW.',
                    'A friend of mine used and recommended it to me 3 weeks ago. I ordered the products and received them within 3 days (although I didn\'t get the discounted prices). The results have been incredible and I can\'t wait to see what weeks 3 and 4 bring.',
                    'Never even thought about combining the products. I am very much pleased after using this product.',
                    'I saw this on the news. How lucky is this mom to have found this opportunity!?!?! Thank you for sharing this tip! I just ordered both products.',
                    'probably I\'m a bit older than most of you folks. but this combo worked for me too! LOL! I can\'t say anything more exciting.Thanks for your inspirations!',
                    'My sister did this a few months ago, I waited to order my trials to see if it really worked and then they stopped giving out the trials! what a dumb move that turned out to be. glad to see the trials are back again, I wont make the same mistake.',
                    'I love the I\'m going to give these products a chance to work their magic on me. I\'ve tried everything out there and so far nothing has been good enough to help me.',
                    'worked for me! I worked just like I thought it would. It was easy enough and I just want others to know when something works.',
                    'Thanks for the info, just started mine.'
                ];
            }
            $(window).resize(function () {
                if ($("body").width() < 800) {
                    $(".lose-comment-phone").show()
                    commentList.content = [
                        'I feel 5 years younger. It\'s wonderful!',
                        'I\'ve been using the product for about 6 wks',
                        'I can\'t wait to see what weeks 3 and 4 bring.',
                        'I am very much pleased after using this product.',
                        'Thank you for sharing this tip! I just ordered both products.',
                        'I\'m a bit older,but this combo worked for me too! LOL! ',
                        'My sister did this a few months ago.',
                        'I love the I\'m going to give these products a chance to work their magic on me.',
                        'worked for me! I worked just like I thought it would.',
                        'Thanks for the info, just started mine.'
                    ]
                } else {
                    $(".lose-comment-phone").hide()
                    commentList.content = [
                        'I have been using this weight loss combo for 3 weeks now, and I seriously look 5 years younger! I will take it when it was less than 5 bucks for each! My tummy and arm fat is melting away more and more every day. Thank you so much for reporting on this!',
                        'I saw this combo on DI a while ago and still using the combo. I\'ve been using the product for about 6 wks . Honestly, this is unbelievable, all I have to say is WOW.',
                        'A friend of mine used and recommended it to me 3 weeks ago. I ordered the products and received them within 3 days (although I didn\'t get the discounted prices). The results have been incredible and I can\'t wait to see what weeks 3 and 4 bring.',
                        'Never even thought about combining the products. I am very much pleased after using this product.',
                        'I saw this on the news. How lucky is this mom to have found this opportunity!?!?! Thank you for sharing this tip! I just ordered both products.',
                        'probably I\'m a bit older than most of you folks. but this combo worked for me too! LOL! I can\'t say anything more exciting.Thanks for your inspirations!',
                        'My sister did this a few months ago, I waited to order my trials to see if it really worked and then they stopped giving out the trials! what a dumb move that turned out to be. glad to see the trials are back again, I wont make the same mistake.',
                        'I love the I\'m going to give these products a chance to work their magic on me. I\'ve tried everything out there and so far nothing has been good enough to help me.',
                        'worked for me! I worked just like I thought it would. It was easy enough and I just want others to know when something works.',
                        'Thanks for the info, just started mine.'
                    ];
                }
                comment(commentList)
                mySwiper = new Swiper('.swiper-container', {
                    direction: 'horizontal',
//                    direction: 'vertical',
                    loop: true,
                    autoplay: 2000,
                    speed: 2000,
                    autoplayDisableOnInteraction: false
                });
            });
            comment(commentList)
            mySwiper = new Swiper('.swiper-container', {
//                direction: 'vertical',
                direction: 'horizontal',
                loop: true,
                autoplay: 2000,
                speed: 2000,
                autoplayDisableOnInteraction: false
            });

            //评论
            function comment(obj) {
                $(".lose-comment-box").html("")
                $(".lose-comment-box-phone").html("")
                for (var i = 0; i < 10; i++) {
                    var str = '<div class="comment swiper-slide">' +
                        '<div class="comment-user">' +
                        '<div class="user-photo">' +
                        '<img src="' + obj.photo[i] + '" alt="">' +
                        '</div>' +
                        '<div class="user-info">' +
                        '<div class="user-name">' + obj.name[i] + '</div>' +
                        '<div class="send-time">' + obj.time[i] + '</div>' +
                        '</div>' +
                        '</div>' +
                        '<div class="comment-con">' + obj.content[i] + '</div>' +
                        '<div class="comment-like">' +
                        '<a href="javascript:;">' + obj.like[i] + ' Like</a>' +
                        '<a href="javascript:;"> Reply</a>' +
                        '</div>' +
                        '</div>'
                    $(".lose-comment-box").append(str)
                    $(".lose-comment-box-phone").append(str)
                }
            }
        });

        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth();
        var day = date.getDate()
        var week = date.getDay();
        var time = new Date(year, month, day, 24, 0, 0);
        var monthTime = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
        var weekTime = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        $(".day").text(day)
        $(".year").text(year)
        $(".day-count").text(time.getDate())
        $(".year-count").text(time.getFullYear())
        for (var i = 0; i < monthTime.length; i++) {
            if (i == month) {
                $(".month").text(monthTime[i])
            }
            if (i == time.getMonth()) {
                $(".month-count").text(monthTime[i])
            }
        }
        for (var k = 0; k < weekTime.length; k++) {
            if (k == week) {
                $(".week").text(weekTime[k])
            }
            if (k == time.getDay()) {
                $(".week-count").text(weekTime[k])
            }
        }
        var timer = setInterval(function () {
            var countDown = Date.parse(time) - Date.now();
            var hour = parseInt(countDown / 1000 / 60 / 60);
            var min = parseInt(countDown / 1000 / 60 % 60);
            var second = parseInt(countDown / 1000 % 60);
            if (hour < 10) hour = '0' + hour;
            if (min < 10) min = '0' + min;
            if (second < 10) second = '0' + second;
            $(".count-hour").text(hour)
            $(".count-min").text(min)
            $(".count-second").text(second)
            if (countDown == 0 || countDown < 0) clearInterval(timer)
        }, 1000)
        window.onscroll = function () {
            var top = $(".lose-floatBox").height() - $(window).height() + 250;
            var width = $("body").width();
            if (width > 830) {
                if (window.scrollY > top) {
                    $(".lose-floatBox").css({'top': (window.scrollY - top) + 'px'})
                } else {
                    $(".lose-floatBox").css({'top': '0px'})
                }
                if (window.scrollY > 7300) {
                    $(".lose-float-count").fadeOut()
                } else {
                    $(".lose-float-count").fadeIn()
                }
            } else {
                if (window.scrollY < 100) {
                    $(".lose-comment-phone").css({'top': (100 - window.scrollY) / 75 + 'rem'})
                } else {
                    $(".lose-comment-phone").css({'top': '0rem'})
                }
            }
        }

    })
</script>
</body>
</html>