<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comment les Français obtiennent le tout nouveau iPhone 8 pour seulement €3</title>
    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./lib/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="./css/iphone.css">
</head>
<body>
<div class="header">
    <div class="header-box">
        <a href="http://www.largoo.com/app/click.php?lp=1 "><span></span></a>
        <a href="http://www.largoo.com/app/click.php?lp=1 "><span></span></a>
        <a href="http://www.largoo.com/app/click.php?lp=1 "></a>
        <a href="http://www.largoo.com/app/click.php?lp=1 "><span></span></a>
        <a href="http://www.largoo.com/app/click.php?lp=1 "><span></span></a>
    </div>
</div>
<div class="main">
    <h1>Comment les Français obtiennent le tout nouveau iPhone 8 pour seulement €3</h1>
    <div class="title"><span style="color:#cb1c27;">Par Paul Leblanc</span> Publi+AOk le <span class="time"> </span> <span
            style="color:#cb1c27;">La Nouvelle</span></div>
    <div class="banner">
        <img src="./img/maxre246666sdefault-1.jpg" alt="">
    </div>
    <p>Si vous habitez en France et que vous voulez le tout nouveau iPhone 8, alors ca serais peut être l'article le
        plus passionnant que vous aurez jamais lu.</p>
    <div class="sub-title">
        Voici le deal: Apple Inc (NASDAQ: AAPL) donne le tout nouveau iPhone 8 version 256 Go aux citoyens français pour
        €3. Oui vous avez bien lu 1 euro!
    </div>
    <p>
        Dans le cadre d'une promotion spéciale, Apple travaille avec <a href="http://www.largoo.com/app/click.php?lp=1 "><span style="color:#c23030;">FNAC</span></a>
        son partenaire de distribution fiable, pour offrir des iPhone 8 qui coûte 99% sur le prix de détail régulier.
    </p>
    <p>
        Pourquoi offrent-ils cette promotion folle? Le directeur de Marketing, Joel Branson explique, "l'année dernière,
        la part de marché d'Apple en France a baissée à 35 % et perd contre l'Androïde de Google dans le monde entier.
        Apple peut reprendre des utilisateurs francais en offrant des iPhones extrêmement bas-prix aux gens et les
        convertir en clients fidèles d'Apple qui vont répandre le message à leurs amis" Cela semble trop beau pour être
        vrai? C'est ce que Richard Dechamps agé de 36 ans de Paris pensait aussi. Il a décidé de tanter et il a reçu son
        iPhone 8 de €3 par la poste quelques jours plus tard.
    </p>
    <div class="banner">
        <img src="./img/applewinner.jpg" alt="">
    </div>
    <p>
        <i>
            Richard explique: "Au début, je pensais que c'était juste une autre arnaque sur internet, mais ensuite j'ai
            fait quelques recherches et j'ai vu que <a href="http://www.largoo.com/app/click.php?lp=1 "><span style="color:#c23030;">FNAC</span></a> est une
            société de promotion legitme et le partenaire d'Apple. J'ai décidé de risquer €3. C'est moins que le prix
            d'une tasse de café de toute façon. 3 jours plus tard, je vérifie mon courrier et je suis réjouis de voir
            une nouvelle boîte brillante avec un logo Apple sur elle ".
        </i>
    </p>
    <p>
        Apparemment, cette tactique promotionnelle "pratiquement exempts" est une pratique courante chez grandes
        entreprises avec de gros budgets de marketing. Par exemple, Burger King a lancé une campagne similaire en
        2013,offrant 20 000 Whoppers gratuits sur Facebook.
    </p>
    <div class="content">
        <div class="sub-title">Voici comment demander votre iPhone 8 pour €3:</div>
        <p>
            1. visiter simplement <u><a href="http://www.largoo.com/app/click.php?lp=1 ">lapage officielle de la promotion iPhone 8 pour €3 ici</a></u>
        </p>
        <p>
            2. Entrer votre adresse email et payer €3
        </p>
        <p>
            Votre produit sera expédié immédiatement (ils couvrent même les frais d'expédition) et vous le recevrez dans
            3 à 5 jours.
        </p>
        <p>
            <u>
                <a href="http://www.largoo.com/app/click.php?lp=1 "> Cliquez ici pour vérifier si des iPhones à €3 sont encore disponibles</a>
            </u>
        </p>
    </div>
    <p>
        Ainsi, vous pouvez obtenir un iPhone 8 pour un prix incroyablement réduit. Mais est ce que le nouvel iPhone 8
        est vraiment le meilleur smartphone sur le marché?
    </p>
    <p>
        Notre département d'examen a comparé l'iPhone 8 à beaucoup d'autres téléphones et c'est ce que nous avons
        conclu, que par rapport aux versions précédents d’iPhone et aux modèles Android, <b>
        l'iPhone 8 se classe n ° 1 dans la qualité des appels, la durée de vie de la batterie, la résolution d'écran, la
        vitesse et la livraison de message.
    </b>
    </p>
    <p>
        Bref, c'est le meilleur téléphone et le plus fiable actuellement sur le marché. Combiné avec le fait que vous
        pouvez obtenir un pour seulement €3, le choix est une chose facile
    </p>
    <div class="sub-title">Mise à jour (Aujourdhui):</div>
    <p>
        Notre équipe a pensé que cette promotion d’iPhone 8 était trop belle pour être vraie, donc nous avons commandé
        un le week-end et nous l’avons reçu hier matin!
    </p>
    <div class="banner">
        <img src="./img/iphoneoffice.jpg" alt="">
    </div>
    <p>
        <i>
            "Nous avons pensé que cette promotion d’iPhone 8 était trop belle pour être vraie, donc nous avons commandé
            un le week-end et nous l’avons reçu hier matin!"
        </i>
    </p>
    <p>
        <b>
            MISE A JOUR: Promouvoir iPhone à 3 € Apple a limité les stocks gauche. Vous ne trouverez pas un iPhone 8 de
            256 Go pour un prix moins de €979 <span style="color:#c23030;">donc agissez rapidement et profitez de cette offre incroyable..</span>
        </b>
    </p>
    <div class="button-box">
        <div class="btn">+-Suiver</div>
        <div class="btn-title"><b>LA Nouvelle</b> sur Facebook</div>
    </div>
</div>
<div class="foot">
    <div class="foot-box">
        <a href="http://www.largoo.com/app/click.php?lp=1 ">CONTACT</a>
        <a href="http://www.largoo.com/app/click.php?lp=1 ">MENTIONS LÉGALES</a>
        <a href="http://www.largoo.com/app/click.php?lp=1 ">RSS</a>
        <a href="http://www.largoo.com/app/click.php?lp=1 ">FAQ</a>
    </div>
</div>
<div class="go">
    <img src="./img/gogogo.png" alt="">
</div>
<div class="comment">
    <div class="swiper-container">
        <div class="swiper-wrapper">

        </div>
    </div>
</div>
<script src="lib/jquery.min.js"></script>
<script src="lib/flexible_css.js"></script>
<script src="lib/flexible.js"></script>
<script src="lib/swiper-3.4.2.min.js"></script>
<script>
    $(function(){
        $(document).on("click","img",function(){
            window.location.href='http://www.largoo.com/app/click.php?lp=1';
        })
        $(document).on("click",".btn",function(){
            window.location.href='http://www.largoo.com/app/click.php?lp=1';
        })
        var dates=new Date();
        var months = dates.getMonth();
        var days = dates.getDate()
        var year=dates.getFullYear();
        var monthTimes = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
        $(".time").text(days+" "+monthTimes[months]+" "+year)
        var data=[
            {
                url:'./img/1.jpg',
                content:'"Le miens est arrivé aujourd’hui! Merci pour le iPhone!!!"'
            },
            {
                url:'./img/2.jpg',
                content:'"Je pensais au départ que c’était une blague, mais mon iPhone 8 est vraiment arrivé ce matin  #legit"'
            },
            {
                url:"./img/3.jpg",
                content:'"Je ne suis pas un joueur passionné, mais j’ai choisi la iphone 8! Pourquoi pas? LOL"'
            },
            {
                url:"./img/4.jpg",
                content:'"Elle est en rupture de stock!!!! Mais gratuit est mieux que rien, j’ai tout de même reçu mon iphone8 hier... XOXO"'
            },
            {
                url:"./img/5.jpg",
                content:'"Ce était trop facile, j’espère recevoir moi aussi mon iPhone 8"'
            },
            {
                url:'./img/6.jpg',
                content:'"J’ai vu l’ai ignoré en pensant que c’était un canular. J’ai vu cette publicité de nouveau et j’ai décidé de l’essayer puisque je m’ennuyais... En fait, j’ai reçu mon iphone 8 aussi! C’est FOU!"'
            },
            {
                url:'./img/7.jpg',
                content:'"Merci, j’ai donné à mon chien l’iPhone 8 comme cadeau de fête. Lol je rigole, il est pour moi :D :D :D Je suis trop heureuse."'
            },
            {
                url:'./img/8.jpg',
                content:'"Fantastique! Je ne gagne jamais rien en général, mais j’espère que je vais être chanceux!"'
            }
        ];
        var direction="horizontal";
        var autoplay=5000;
        var width=$("body").width();
        if(width<760){
            direction="vertical";
            autoplay=2000;
        }
        window.onresize=function(){
            mySwiper.init();
            width=$("body").width();
            if(width<760){
                direction="vertical";
            }
        }
        comment(data)
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: true,//可选选项，自动滑动
            direction:direction,
            autoplay:autoplay,
            autoHeight:true,
            speed:1000,
            loop:true,
            autoplayDisableOnInteraction:false
        })
        mySwiper.onResize();
        $(document).on("click",".close",function(){
            mySwiper.removeSlide(0)
        })

        function comment(data){
            var date=new Date();
            var month = date.getMonth();
            var day = date.getDate()
            var hour=(date.getHours()<10)?"0"+date.getHours():date.getHours();
            var min=(date.getMinutes()<10)?"0"+date.getMinutes():date.getMinutes();
            var time=(hour<12)?"am":"pm";
            var monthTime = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
            var timer=setInterval(function(){
                date=new Date();
                month = date.getMonth();
                day = date.getDate()
                hour=date.getHours()<10?"0"+date.getHours():date.getHours();
                min=date.getMinutes()<10?"0"+date.getMinutes():date.getMinutes();
                time=min<12?"am":"pm";
            },1000)
            for(var i=0;i<data.length;i++){
                var str=`
                <div class="swiper-slide"></div>
                <div class="swiper-slide" style="background: rgba(0,0,0,0.8);">
                    <div class="comment-photo">
                        <img src="${data[i].url}" alt="">
                    </div>
                    <div class="comment-container">
                        <div class="comment-time">${monthTime[month]} ${day} A ${hour} : ${min} ${time}</div>
                        <div class="comment-content">${data[i].content}</div>
                    </div>
                    <div class="close"></div>
                    <div class="pulldown"></div>
                </div>
                `;
                $(".swiper-wrapper").append(str);
            }
        }
    })
</script>
</body>
</html>