<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>template</title>
    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./css/template.css">
</head>
<body>
<div class="container">
    <div class="text-mark">哈哈哈哈哈哈哈哈哈哈</div>
    <div class="content">
        <a class="link-mark" href="http://www.baidu.com">百度</a>
        <div class="banner">
            <img src="./img/20141102081708_YBfT8.jpeg" alt="">
        </div>
        <div class="text-mark">asdasdasdasdasdasd</div>
        <a class="link-mark" href="http://www.baidu.com">百度</a>
        <div class="banner">
            <img src="./img/231521gyre63y6xyan13jx.jpg" alt="">
        </div>
        <div class="text-mark">asdasdasdasdasdasd</div>
        <div class="banner">
            <img src="./img/enterdesk.com-06B720D1C724E047DF0928AEC073C666.jpg" alt="">
        </div>
        <div class="text-mark">asdasdasdasdasdasd</div>
    </div>
    <div class="btn-box">
        <div class="btn-mark">
            <a href="#javascript:;">按钮按钮</a>
        </div>
    </div>
    <div class="btn-box">
        <div class="btn-mark">
            <a href="#javascript:;">按钮按钮</a>
        </div>
    </div>
    <div class="btn-box">
        <div class="btn-mark">
            <a href="#javascript:;">按钮按钮</a>
        </div>
    </div>
</div>
<div class="footer">

</div>
</body>
<script src="./lib/flexible_css.js"></script>
<script src="./lib/flexible.js"></script>
</html>